# Ignorando a pasta pychache
__pycache__/cadastro.cpython-311.pyc
__pycache__/chatbot.cpython-311.pyc
__pycache__/login.cpython-311.pyc


# Ignorando o arquivo de variaveis de ambiente 
.env

# Ignorando os arquivos de banco de dados
*.db
*.sqbpro

# Ignorando a RoadMap 
RoadMap.txt